# Node.js / React
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.pnpm-debug.log
build/
dist/
coverage/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
ENV/
env/
.env
*.so
.eggs/
*.egg-info/
dist/
build/
.coverage
htmlcov/
.pytest_cache/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Project specific
/server/data/processed_data/
/server/data/embeddings/
.ipynb_checkpoints/ 